@model WestSideLuigis.Models.ViewModels.UpdateBeer
@{
    ViewBag.Title = "View";
}

<a href="/Beer/List">Go back to list</a>
<a href="/Beer/Edit/@Model.SelectedBeer.BeerID">Update</a>
<a style="color:#ab2020;" href="/Beer/DeleteConfirm/@Model.SelectedBeer.BeerID">Delete</a>
<div class="row">
    <div class="col-md-6 col-sm-12">
        @{
            System.Diagnostics.Debug.WriteLine(Model.SelectedBeer.BeerHasPic);
            System.Diagnostics.Debug.WriteLine(Model.SelectedBeer.BeerID);
            string imageURL = "/Content/Images/Beers/default.jpeg";
            if (Model.SelectedBeer.BeerHasPic)
            {

                imageURL = "/Content/Images/Beers/" + Model.SelectedBeer.BeerID + "." + Model.SelectedBeer.PicExtension;
                System.Diagnostics.Debug.WriteLine(imageURL);

            }
            <div><img style="display:block; height:100%; width: 400px;" alt="@Model.SelectedBeer.BeerName" src="@imageURL" /></div>
        }

    </div>
</div>
<h2>@Model.SelectedBeer.BeerName</h2>
<div>Brewery: @Model.SelectedBeer.BreweryName</div>
<div>Beer Type: @Model.SelectedBeer.BeerType</div>
<div>Beer Description: @Model.SelectedBeer.BeerDescription</div>
<div>Alcohol Content: @Model.SelectedBeer.BeerAlcoholContent</div>