﻿@model IEnumerable<WestSideLuigis.Models.Beer>
@{
    ViewBag.Title = "List";
}

<h2>Beers</h2>
<div>
    <a href="/Beer/New" class="btn btn-primary mb-4">Add a Beer</a>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var beer in Model)
    {
        <div class="col">
            <div class="card h-100" style="width: 18rem;">
                @{
                    string imageURL = "/Content/Images/Beers/default.jpeg";
                    if (beer.BeerHasPic)
                    {
                        imageURL = "/Content/Images/Beers/" + beer.BeerID + "." + beer.PicExtension;
                    }
                }
                <img src="@imageURL" class="card-img-top" alt="@beer.BreweryName">
                <div class="card-body">
                    <h5 class="card-title">@beer.BeerName</h5>
                    <p class="card-text">Type of Beer: @beer.BeerType</p>
                    <p class="card-text">Description: @beer.BeerDescription</p>
                    <p class="card-text">Alcohol Content: @beer.BeerAlcoholContent</p>
                    <p class="card-text">Brewery: @beer.BreweryName</p>
                    <a href="/Beer/Details/@beer.BeerID" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    }
</div>